// using variable to store styles
$primary-color: #39f;
$white-color: #fff;
$warning-bgColor: #FFE601;
$danger-bgColor: #EA544F;
$primary-bgColor: #005FA4;
$black-color:#222222;
$separator-color: #285373;
$warning-fontColor:#052D49;
$header-bgLeftColor: #1e366e;
$header-bgRightColor: #2f71a4;
$card-footerBgColor: #F8F8F8;
$card-flippedBg: #f1f9ff;
$primary-separator:#ddd;
$tooltip-bg: #575757;
//border color
$card-border: #EFEFEF;
$card-separator: #EFEFEF;
$card-completedBorder: #2980B9;
//button colors
$btn-primary-color: #0060A4;
//colors
$danger-color: #E65752;
$text-blue: #052D49;
