<section class="uk-cover-container uk-flex">
    <article class="uk-width-1-2 uk-height-1-1 uk-cover-container uk-background-secondary">
        <img data-srcset="https://picsum.photos/640/700/?image=1044 640w,
		             https://picsum.photos/960/700/?image=1044 960w,
		             https://picsum.photos/1200/900/?image=1044 1200w,
		             https://picsum.photos/2000/1000/?image=1044 2000w" sizes="100vw" data-src="https://picsum.photos/1200/900/?image=1044" alt="" class="uk-cover" srcset="https://picsum.photos/640/700/?image=1044 640w,
		             https://picsum.photos/960/700/?image=1044 960w,
		             https://picsum.photos/1200/900/?image=1044 1200w,
		             https://picsum.photos/2000/1000/?image=1044 2000w" src="https://picsum.photos/2000/1000/?image=1044">

        <div class="uk-position-cover uk-overlay-primary"></div>

        <div class="uk-flex uk-flex-left uk-height-viewport uk-light af-login-logo-contianer">
            <div class="uk-scrollspy-inview uk-animation-fade">
                <div class="uk-width-medium">
                    <img src="assets/images/logo.png" alt="logo" />
                </div>
                <h4>LSKJ kajsndkjnsadj ksandkajs nkja nskjdnaskj nkjas kdajs nka nskdnaksdjnaksd</h4>
            </div>
        </div>
    </article>

    <article class="af-login-forn-contianer uk-width-1-2 uk-height-1-1 uk-background-primary uk-height-viewport uk-position-relative uk-flex uk-flex-center uk-flex-middle">
        <div class="uk-width-large uk-light">
            <div class="uk-alert-warning uk-alert af-bg-message uk-border-${20|rounded|}">
                <div>Message:</div>
                <div>This site is temporarily down for maintenance</div>
            </div>
            <div class="uk-position-bottom-center uk-position-small uk-visible@m">
                <div class="uk-text-small uk-text-muted uk-text-center">
                    <div>&copy; 2015-2018 First American Financial Corporation and/or its Affliliates.</div>
                    <div>All Rights Reserved.</div>
                </div>
            </div>
            <form>
                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="user-name">User Name</label>
                        <div class="uk-form-controls">
                            <input class="uk-input field-transparent uk-padding-remove-left" id="user-name" required="" placeholder="Username" type="text">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-width-1-1">
                            <input class="uk-input field-transparent" required="" placeholder="Password" type="password">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <button type="submit" class="uk-button uk-button-danger uk-border-pill">sign in</button>
                    </div>
                </fieldset>
            </form>
            <div>
                <div class="uk-text-center">
                    <a class="uk-link-reset uk-text-small" data-uk-toggle="target: #recover;animation: uk-animation-slide-top-small">Forgot your password?</a>
                </div>
                <div class="uk-margin-small-top" id="recover" hidden="">
                    <form action="login-dark.html">

                        <div class="uk-margin-small">
                            <div class="uk-inline uk-width-1-1">
                                <span class="uk-form-icon uk-form-icon-flip uk-icon"></span>
                                <input class="uk-input field-transparent" placeholder="E-mail" required="" type="text">
                            </div>
                        </div>
                        <div class="uk-margin-small">
                            <button type="submit" class="uk-button uk-button-primary uk-border-pill">SEND PASSWORD</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </article>
</section>