<div class="uk-flex uk-flex-middle uk-margin-top">
  <span class="uk-text-capitalize uk-text-blue uk-flex-left uk-width-1-2">recently viewed files</span>
  <div class="uk-width-1-2 uk-flex-right uk-text-right">
    <button class="uk-button uk-button-outline uk-button-primary uk-button-small uk-border-pill uk-text-capitalize">View All</button>
  </div>
</div>
<article class="uk-margin-top  uk-margin-bottom">
  <!-- Card -->
  <div class="uk-flex af-card-container">
    <div class="uk-card uk-card-default uk-card-small uk-flex uk-flex-column af-card uk-width-1-4">
      <article class="uk-card-body">
        <img src="assets/images/icons/flip.svg" class="uk-position-top-right uk-padding-small" />
        <div class="uk-padding-small uk-padding-remove-vertical uk-padding-remove-left">
          <div class="uk-flex">
            <div class="uk-width-1-2">
              <label class="uk-text-uppercase uk-text-small">FA FILE</label>
              <div class="uk-text-uppercase uk-text-blue uk-text-bold uk-text-danger">2953832</div>
            </div>
            <div class="uk-width-1-2">
              <label class="uk-text-uppercase uk-text-small">YOUR FILE</label>
              <div class="uk-text-uppercase uk-text-blue uk-text-truncate">TEST FILE 123</div>
            </div>
          </div>
          <div class="uk-width-1-1 uk-margin-small-top">
            <label class="uk-text-uppercase uk-text-small">SELLER</label>
            <div class="uk-text-uppercase uk-text-blue">SEBASTIAN S JOHN</div>
          </div>
          <div class="uk-width-1-1 uk-margin-small-top">
            <label class="uk-text-uppercase uk-text-small">ADDRESS</label>
            <div class="uk-text-uppercase uk-text-blue uk-text-weight300">4305 N RICHMOND UNIT 6, IL</div>
          </div>
        </div>
      </article>
      <article class="uk-flex uk-card-footer uk-flex-between uk-flex-1" >
        <div class="footer-item uk-width-1-4">
          <div class="uk-position-relative icon-wrapper uk-margin-auto">
            <img src="assets/images/icons/Examiner_Worksheet.svg" class="icon-muted" uk-tooltip="EXAMINER WORKSHEET" data-trigger="click"/>
            <img src="assets/images/icons/Available.svg" class="status-icon" />
          </div>
        </div>
        <div class="footer-item uk-width-1-4">
          <div class="uk-position-relative icon-wrapper uk-margin-auto">
            <img src="assets/images/icons/Schedule_Closing.svg" />
            <img src="assets/images/icons/Not_Available.svg" class="status-icon" />
          </div>
        </div>
        <div class="footer-item uk-width-1-4">
          <div class="uk-position-relative icon-wrapper uk-margin-auto">
            <img src="assets/images/icons/Closing_Figures.svg" />
            <img src="assets/images/icons/Not_Available.svg" class="status-icon" />
          </div>
        </div>
        <div class="footer-item uk-width-1-4">
          <div class="uk-position-relative icon-wrapper uk-margin-auto">
            <img src="assets/images/icons/Documents.svg" />
            <img src="assets/images/icons/Not_Available.svg" class="status-icon" />
          </div>
        </div>
      </article>
    </div>
    <!-- Flip Card -->
    <div class="uk-card uk-card-default uk-card-small uk-flex uk-flex-column af-card uk-width-1-4 card-flipped">
      <article class="uk-card-body">
        <img src="assets/images/icons/flip.svg" class="uk-position-top-right uk-padding-small" />
        <div class="uk-padding-small uk-padding-remove-vertical uk-padding-remove-left">
          <div class="uk-flex">
            <div class="uk-width-1-2">
              <label class="uk-text-uppercase uk-text-small">FA FILE</label>
              <div class="uk-text-uppercase uk-text-blue uk-text-bold uk-text-danger">2953832</div>
            </div>
            <div class="uk-width-1-2">
              <label class="uk-text-uppercase uk-text-small">YOUR FILE</label>
              <div class="uk-text-uppercase uk-text-blue uk-text-truncate">TEST FILE 123</div>
            </div>
          </div>
          <div class="uk-width-1-1 uk-margin-small-top">
            <label class="uk-text-uppercase uk-text-small">closing date &amp; time</label>
            <div class="uk-text-uppercase uk-text-blue">21/01/2019 9:00 AM</div>
          </div>
          <div class="uk-width-1-1 uk-margin-small-top">
            <label class="uk-text-uppercase uk-text-small">location</label>
            <div class="uk-text-uppercase uk-text-blue uk-text-weight300">4305 N RICHMOND UNIT 6, IL</div>
          </div>
        </div>
      </article>
      <article class="uk-flex uk-card-footer uk-flex-between uk-flex-1" >
        <div class="footer-item uk-width-1-4">
          <div class="uk-position-relative icon-wrapper uk-margin-auto">
            <img src="assets/images/icons/Examiner_Worksheet.svg" class="icon-muted" />
            <img src="assets/images/icons/Available.svg" class="status-icon" />
          </div>
        </div>
        <div class="footer-item uk-width-1-4">
          <div class="uk-position-relative icon-wrapper uk-margin-auto">
            <img src="assets/images/icons/Schedule_Closing.svg" />
            <img src="assets/images/icons/Not_Available.svg" class="status-icon" />
          </div>
        </div>
        <div class="footer-item uk-width-1-4">
          <div class="uk-position-relative icon-wrapper uk-margin-auto">
            <img src="assets/images/icons/Closing_Figures.svg" />
            <img src="assets/images/icons/Not_Available.svg" class="status-icon" />
          </div>
        </div>
        <div class="footer-item uk-width-1-4">
          <div class="uk-position-relative icon-wrapper uk-margin-auto">
            <img src="assets/images/icons/Documents.svg" />
            <img src="assets/images/icons/Not_Available.svg" class="status-icon" />
          </div>
        </div>
      </article>
    </div>
    <!--END - Flip Card-->
    <!-- Order button with footer -->
    <div class="uk-card uk-card-default uk-card-small uk-flex uk-flex-column af-card uk-width-1-4 card-flipped">
      <article class="uk-card-body">
        <img src="assets/images/icons/flip.svg" class="uk-position-top-right uk-padding-small" />
        <div class="uk-padding-small uk-padding-remove-vertical uk-padding-remove-left">
          <div class="uk-flex">
            <div class="uk-width-1-2">
              <label class="uk-text-uppercase uk-text-small">FA FILE</label>
              <div class="uk-text-uppercase uk-text-blue uk-text-bold uk-text-danger">2953832</div>
            </div>
            <div class="uk-width-1-2">
              <label class="uk-text-uppercase uk-text-small">YOUR FILE</label>
              <div class="uk-text-uppercase uk-text-blue uk-text-truncate">TEST FILE 123</div>
            </div>
          </div>
          <div class="uk-width-1-1 uk-margin-small-top">
            <label class="uk-text-uppercase uk-text-small">closing date &amp; time</label>
            <div class="uk-text-uppercase uk-text-blue">21/01/2019 9:00 AM</div>
          </div>
          <div class="uk-width-1-1 uk-margin-small-top">
            <label class="uk-text-uppercase uk-text-small">location</label>
            <div class="uk-text-uppercase uk-text-blue uk-text-weight300">4305 N RICHMOND UNIT 6, IL</div>
          </div>
        </div>
      </article>
      <article class="uk-flex uk-card-footer uk-flex-between uk-flex-1" >
        <div class="footer-item uk-width-2-4 uk-text-center">
          <button class="uk-button uk-button-danger uk-button-small uk-border-pill uk-text-capitalize uk-width-2-3">order title</button>
        </div>
        <div class="footer-item uk-width-1-3">
          <div class="uk-position-relative icon-wrapper uk-margin-auto">
            <img src="assets/images/icons/Documents.svg">
            <img class="status-icon" src="assets/images/icons/Not_Available.svg">
          </div>
        </div>
      </article>
    </div>
    <!--END - Order button with footer-->
  </div>
  <!-- Card -->
</article>

<article class="uk-flex uk-flex-middle uk-margin-top uk-margin-bottom">

  <div class="uk-width-1-3">
  </div>

  <div class="uk-grid-small uk-child-width-1-2 uk-flex-center uk-grid uk-width-2-3 af-card-container" uk-grid>
    <div>
      <!-- Card -->
      <div class="uk-card uk-card-default uk-card-small uk-flex uk-flex-column af-card status-completed uk-grid-child uk-width-1-1">
        <article class="uk-card-body">
          <img src="assets/images/icons/flip.svg" class="uk-position-top-right uk-padding-small" />
          <div class="uk-padding-small uk-padding-remove-vertical uk-padding-remove-left">
            <div class="uk-flex">
              <div class="uk-width-1-2">
                <label class="uk-text-uppercase uk-text-small">TIME</label>
                <div class="uk-text-uppercase uk-text-blue">09.00 AM</div>
              </div>
              <div class="uk-width-1-2">
                <label class="uk-text-uppercase uk-text-small">seller</label>
                <div class="uk-text-uppercase uk-text-blue">SEBASTIAN S JOHN</div>
              </div>
            </div>
            <div class="uk-width-1-1 uk-margin-small-top">
              <label class="uk-text-uppercase uk-text-small">LOCATION</label>
              <div class="uk-text-uppercase uk-text-blue uk-text-weight300">ARLINGTON HEIGHTS</div>
            </div>
          </div>
        </article>
        <article class="uk-flex uk-card-footer uk-flex-between uk-flex-1">
          <div class="footer-item uk-width-1-4">
            <div class="uk-position-relative icon-wrapper uk-margin-auto">
              <img src="assets/images/icons/Examiner_Worksheet.svg" class="icon-muted" uk-tooltip="EXAMINER WORKSHEET" data-trigger="click" />
              <img src="assets/images/icons/Available.svg" class="status-icon" />
            </div>
          </div>
          <div class="footer-item uk-width-1-4">
            <div class="uk-position-relative icon-wrapper uk-margin-auto">
              <img src="assets/images/icons/Schedule_Closing.svg" />
              <img src="assets/images/icons/Not_Available.svg" class="status-icon" />
            </div>
          </div>
          <div class="footer-item uk-width-1-4">
            <div class="uk-position-relative icon-wrapper uk-margin-auto">
              <img src="assets/images/icons/Closing_Figures.svg" />
              <img src="assets/images/icons/Not_Available.svg" class="status-icon" />
            </div>
          </div>
          <div class="footer-item uk-width-1-4">
            <div class="uk-position-relative icon-wrapper uk-margin-auto">
              <img src="assets/images/icons/Documents.svg" />
              <img src="assets/images/icons/Not_Available.svg" class="status-icon" />
            </div>
          </div>
        </article>
      </div>
      <!-- Card -->
    </div>
    <div>
      <!-- Card -->
      <div class="uk-card uk-card-default uk-card-small uk-flex uk-flex-column af-card status-completed uk-grid-child uk-width-1-1 card-flipped">
        <article class="uk-card-body">
          <img src="assets/images/icons/flip.svg" class="uk-position-top-right uk-padding-small" />
          <div class="uk-padding-small uk-padding-remove-vertical uk-padding-remove-left">
            <div class="uk-flex">
              <div class="uk-width-1-2">
                <label class="uk-text-uppercase uk-text-small">FA FILE</label>
                <div class="uk-text-uppercase uk-text-bold uk-text-danger">2953832</div>
              </div>
              <div class="uk-width-1-2">
                <label class="uk-text-uppercase uk-text-small">YOUR FILE</label>
                <div class="uk-text-uppercase uk-text-bold uk-text-blue">2953832</div>
              </div>
            </div>
            <div class="uk-width-1-1 uk-margin-small-top">
              <label class="uk-text-uppercase uk-text-small">Transaction</label>
              <div class="uk-text-uppercase uk-text-blue uk-text-weight300">sale w/mortgage</div>
            </div>
          </div>
        </article>
        <article class="uk-flex uk-card-footer uk-flex-between uk-flex-1">
          <div class="footer-item uk-width-1-4">
            <div class="uk-position-relative icon-wrapper uk-margin-auto">
              <img src="assets/images/icons/Examiner_Worksheet.svg" class="icon-muted" uk-tooltip="EXAMINER WORKSHEET" data-trigger="click" />
              <img src="assets/images/icons/Available.svg" class="status-icon" />
            </div>
          </div>
          <div class="footer-item uk-width-1-4">
            <div class="uk-position-relative icon-wrapper uk-margin-auto">
              <img src="assets/images/icons/Schedule_Closing.svg" />
              <img src="assets/images/icons/Not_Available.svg" class="status-icon" />
            </div>
          </div>
          <div class="footer-item uk-width-1-4">
            <div class="uk-position-relative icon-wrapper uk-margin-auto">
              <img src="assets/images/icons/Closing_Figures.svg" />
              <img src="assets/images/icons/Not_Available.svg" class="status-icon" />
            </div>
          </div>
          <div class="footer-item uk-width-1-4">
            <div class="uk-position-relative icon-wrapper uk-margin-auto">
              <img src="assets/images/icons/Documents.svg" />
              <img src="assets/images/icons/Not_Available.svg" class="status-icon" />
            </div>
          </div>
        </article>
      </div>
      <!-- Card -->
    </div>
    <div>
      <!-- Card -->
      <div class="uk-card uk-card-default uk-card-small uk-flex uk-flex-column af-card status-completed uk-grid-child uk-width-1-1">
        <article class="uk-card-body">
          <img src="assets/images/icons/flip.svg" class="uk-position-top-right uk-padding-small" />
          <div class="uk-padding-small uk-padding-remove-vertical uk-padding-remove-left">
            <div class="uk-flex">
              <div class="uk-width-1-2">
                <label class="uk-text-uppercase uk-text-small">TIME</label>
                <div class="uk-text-uppercase uk-text-blue">09.00 AM</div>
              </div>
              <div class="uk-width-1-2">
                <label class="uk-text-uppercase uk-text-small">seller</label>
                <div class="uk-text-uppercase uk-text-blue">SEBASTIAN S JOHN</div>
              </div>
            </div>
            <div class="uk-width-1-1 uk-margin-small-top">
              <label class="uk-text-uppercase uk-text-small">LOCATION</label>
              <div class="uk-text-uppercase uk-text-blue uk-text-weight300">ARLINGTON HEIGHTS</div>
            </div>
          </div>
        </article>
        <article class="uk-flex uk-card-footer uk-flex-between uk-flex-1">
          <div class="footer-item uk-width-1-4">
            <div class="uk-position-relative icon-wrapper uk-margin-auto">
              <img src="assets/images/icons/Examiner_Worksheet.svg" class="icon-muted" uk-tooltip="EXAMINER WORKSHEET" data-trigger="click" />
              <img src="assets/images/icons/Available.svg" class="status-icon" />
            </div>
          </div>
          <div class="footer-item uk-width-1-4">
            <div class="uk-position-relative icon-wrapper uk-margin-auto">
              <img src="assets/images/icons/Schedule_Closing.svg" />
              <img src="assets/images/icons/Not_Available.svg" class="status-icon" />
            </div>
          </div>
          <div class="footer-item uk-width-1-4">
            <div class="uk-position-relative icon-wrapper uk-margin-auto">
              <img src="assets/images/icons/Closing_Figures.svg" />
              <img src="assets/images/icons/Not_Available.svg" class="status-icon" />
            </div>
          </div>
          <div class="footer-item uk-width-1-4">
            <div class="uk-position-relative icon-wrapper uk-margin-auto">
              <img src="assets/images/icons/Documents.svg" />
              <img src="assets/images/icons/Not_Available.svg" class="status-icon" />
            </div>
          </div>
        </article>
      </div>
      <!-- Card -->
    </div>
    <div>
      <!-- Card -->
      <div class="uk-card uk-card-default uk-card-small uk-flex uk-flex-column af-card status-completed uk-grid-child uk-width-1-1">
        <article class="uk-card-body">
          <img src="assets/images/icons/flip.svg" class="uk-position-top-right uk-padding-small" />
          <div class="uk-padding-small uk-padding-remove-vertical uk-padding-remove-left">
            <div class="uk-flex">
              <div class="uk-width-1-2">
                <label class="uk-text-uppercase uk-text-small">TIME</label>
                <div class="uk-text-uppercase uk-text-blue">09.00 AM</div>
              </div>
              <div class="uk-width-1-2">
                <label class="uk-text-uppercase uk-text-small">seller</label>
                <div class="uk-text-uppercase uk-text-blue">SEBASTIAN S JOHN</div>
              </div>
            </div>
            <div class="uk-width-1-1 uk-margin-small-top">
              <label class="uk-text-uppercase uk-text-small">LOCATION</label>
              <div class="uk-text-uppercase uk-text-blue uk-text-weight300">ARLINGTON HEIGHTS</div>
            </div>
          </div>
        </article>
        <article class="uk-flex uk-card-footer uk-flex-between uk-flex-1">
          <div class="footer-item uk-width-1-4">
            <div class="uk-position-relative icon-wrapper uk-margin-auto">
              <img src="assets/images/icons/Examiner_Worksheet.svg" class="icon-muted" uk-tooltip="EXAMINER WORKSHEET" data-trigger="click" />
              <img src="assets/images/icons/Available.svg" class="status-icon" />
            </div>
          </div>
          <div class="footer-item uk-width-1-4">
            <div class="uk-position-relative icon-wrapper uk-margin-auto">
              <img src="assets/images/icons/Schedule_Closing.svg" />
              <img src="assets/images/icons/Not_Available.svg" class="status-icon" />
            </div>
          </div>
          <div class="footer-item uk-width-1-4">
            <div class="uk-position-relative icon-wrapper uk-margin-auto">
              <img src="assets/images/icons/Closing_Figures.svg" />
              <img src="assets/images/icons/Not_Available.svg" class="status-icon" />
            </div>
          </div>
          <div class="footer-item uk-width-1-4">
            <div class="uk-position-relative icon-wrapper uk-margin-auto">
              <img src="assets/images/icons/Documents.svg" />
              <img src="assets/images/icons/Not_Available.svg" class="status-icon" />
            </div>
          </div>
        </article>
      </div>
      <!-- Card -->
    </div>
  </div>
</article>

