		<!-- TOP -->
<!--<div class="top-wrap uk-position-relative uk-light uk-background-secondary">-->

    <!-- NAV -->
    <div class="nav">
        <div class="uk-container header-bg uk-light">
            <nav class="uk-navbar-container uk-navbar-transparent uk-flex uk-padding-small uk-padding-remove-horizontal">
                <div class="uk-navbar-left uk-width-1-6">
                    <a class="uk-logo" title="Logo" href=""><img src="assets/images/logo.png" alt="logo" /></a>
                </div>
                <div class="uk-navbar-right uk-width-1-2 uk-flex-right">
                  <ul class="uk-navbar-nav uk-visible@s">
                    <li class="uk-active"><a href="" class="uk-text-capitalize"><img width="16" src="assets/images/icons/Home.svg">&nbsp;Home</a></li>
                    <li class="uk-active"><a href="" class="uk-text-capitalize"><img width="16" src="assets/images/icons/Schedule_Closing_NavBar.svg">&nbsp;Schedule Closing</a></li>
                    <li class="uk-inline uk-active">
                      <a href="#" class="uk-text-capitalize" type="button"><img width="16" src="assets/images/icons/User.svg">&nbsp;<span>Siva Teja</span>&nbsp;<span data-uk-icon="chevron-down"></span></a>
                      <div uk-dropdown="mode: click" class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li><a href="#">Big Data</a></li>
                          <li><a href="#">Marketing</a></li>
                          <li><a href="#">Analytics</a></li>
                          <li><a href="#">AI Lab</a></li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                    <a class="uk-navbar-toggle uk-navbar-item uk-hidden@s" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav"></a>
                </div>
            </nav>
        </div>
    </div>
    <!-- /NAV -->
